.td_style {
    text-align: center !important;
    word-wrap: break-word;
}

.sticky_white {
    background-color: white !important;
    position: sticky;
    left: 0;
}

.inline_block {
    display: inline-block !important;
}