@import "../../../constants";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: $default_margin;
}

.icon {
    margin-bottom: $default_margin;
}