@import "src/constants";

.card {
    margin-bottom: $default_margin;
}

.kpi_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rqs_kpi {
    width: 30%;
    min-width: 300px;
}

.milestones_kpi {
    width: 30%;
    min-width: 300px;
}

.dr4_kpi {
    width: 30%;
    min-width: 400px;
}

@media screen and (max-width: 1370px){
    .kpi_container {
        flex-direction: column;
    }

    .rqs_kpi,
    .milestones_kpi,
    .dr4_kpi {
        width: 100%;
    }
}