.button {
    background-color: #F8F991;
    width: 150px;
    height: 40px;
    font-size: 12px;
    border-radius: 10px;
    border-color: #F8F991;
    margin: 10px 0 10px 0;
}

.loading {
    height: 15px;
    width: auto;
}