@import "src/constants";

.controls {
    margin-left: -20px;
    margin-right: -20px;
}

.red {
    color: $red_color;
}

.orange {
    color: $orange_color;
}

.green {
    color: $green_color;
}

.no_border {
    border: none !important;
}

.quill_margin {
    margin-bottom: $default_margin;
}