.indicator {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.color_red {
    background-color: red;
}

.color_yellow {
    background-color: yellow;
}

.color_green {
    background-color: green;
}

.color_blank {
    background-color: lightgray;
}