.table_container {
    position: relative;
}

.name_col_size {
    width: 170px;
    max-width: 170px;
}

.last_dr_col_size {
    width: 90px;
    max-width: 90px;
}

.type_size {
    width: 75px;
    max-width: 75px;
}

.mils_col_size {
    width: 80px;
}

.sticky_colspan2,
.sticky_first,
.sticky_second,
.sticky_third {
    position: sticky;
    background-color: white;
}

.sticky_third {
    left: 170px;
}

.sticky_colspan2,
.sticky_first {
    left: 0;
}

.sticky_colspan2 {
    border-right: 2px solid black;
}

.sticky_second {
    left: 245px;
    border-right: 2px solid black;
}

.overflow_x {
    overflow-x: auto;
    margin-bottom: 20px;
}

.products_name {
    padding-left: 30px !important;
}

.last_compl_col {
    border-right: 2px solid black;
}

.th_style {
    text-align: center !important;
    vertical-align: middle !important;
}

.td_style {
    text-align: center !important;
}

.current_month {
    border-right: 2px solid #0f9960;
    border-left: 2px solid #0f9960;
}

.year_left_border {
    border-left: 2px solid black;
}
/*TODO SASS????*/
.bkground_grey {
    background-color: #e2e2e2;
}

.bkground_red {
    background-color: #de4747;
}

.label {
    margin-bottom: 3px;
    padding: 5px;
}

.table_class {
    table-layout: fixed;
    width: 100%;
}

.word_wrap {
    word-wrap: break-word;
}

.legend {
    margin-bottom: 17px;
}