.data_column {
    text-align: center !important;
    word-wrap: break-word;
}

.cost_table {
    width: 100%;
    table-layout: fixed;
}

.effort_col {
    width: 150px;
}

.value_col {
    width: 100px;
}