.data_container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1em;
}

.url_container {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: auto 1em;
}