.container {
    margin-right: 30px;
    padding: 10px;
}

.selected {
    background-color: #3D315B;
}

.link {
    color: #9AB87A;
    text-decoration: none;
    font-size: 18px;
}

.link:hover {
    color: #708B75
}