.header_container {
    padding-bottom: 10px;
    text-align: center;
}

.center {
    display: inline;
}

.tooltip {
    margin-left: 5px;
}

.float_right {
    float: right;
}

.inline_block {
    display: inline-block;
}

.updated_block {
    margin-bottom: 17px;
}