.header_container {
    padding-bottom: 10px;
    text-align: center;
}

.card_container {
    height: 100%;
}

.chart_container {
    max-height: 100%;
    height: calc(100% - 120px);
    margin-bottom: 17px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    display: inline;
}

.tooltip {
    margin-left: 5px;
}

.float_right {
    float: right;
}

.inline_block {
    display: inline-block;
}

.updated_block {
    margin-bottom: 17px;
}