.container {
    display: grid;
    grid-template-areas:
        "nav header"
        "nav page";
    grid-template-rows: 50px calc(100% - 50px);
    /*grid-template-columns: 230px calc(100% - 230px);*/
    grid-gap: 0;
    height: 100%;
}

.leftMenu {
    grid-area: nav;
    height: 100%;
}

.header {
    grid-area: header;
}

.page {
    grid-area: page;
    /*height: calc(100% - 50px);*/
    height: 100%;
    overflow-y: auto;
}