.container {
    display: grid;
    grid-template-areas:
        "nav header"
        "nav page";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 230px 1fr;
    grid-gap: 0;
    height: 100%;
}

.leftMenu {
    grid-area: nav;
    height: 100%;
}

.header {
    grid-area: header;
}

.page {
    grid-area: page;
}