.container {
    display: grid;
    grid-template-areas:
        "nav header"
        "nav page";
    grid-template-rows: 50px calc(100% - 50px);
    grid-gap: 0;
    height: 100%;
}

.template_shrinked {
    grid-template-columns: 60px calc(100% - 60px);
    transition: grid-template-columns 100ms linear;
}

.template_expanded {
    grid-template-columns: 230px calc(100% - 230px);
    transition: grid-template-columns 100ms linear;
}

.leftMenu {
    grid-area: nav;
    height: 100%;
}

.header {
    grid-area: header;
}

.page {
    grid-area: page;
    height: 100%;
    overflow-y: auto;
}