.table_container {
    overflow: auto;
    height: 100%;
}

.table_style {
    width: 100%;
    position: relative;
}

th {
    position: sticky;
    top: 0;
    background: white;
}

.header_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}