.controls {
    margin-left: -20px;
    margin-right: -20px;
}

.red {
    color: #db3737;
}

.orange {
    color: #bf7326;
}

.green {
    color: #0d8050;
}

.no_border {
    border: none !important;
}

.quill_margin {
    margin-bottom: 17px;
}