.quality_table {
    width: 100%;
    table-layout: fixed;
}

.column_align_right {
    text-align: right !important;
}

.column_align_center {
    text-align: center !important;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.descr_col {
    width: 245px;
}

.controls_col {
    width: 32px;
}

.obj_col, .actual_col {
    width: 100px;
}

.sync_date {
    color: red;
    margin-left: 5px;
}