.quality_table {
    width: 100%;
    table-layout: fixed;
}

.column_align_right {
    text-align: right !important;
}

.column_align_center {
    text-align: center !important;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.descr_col {
    width: 200px;
}

.controls_col {
    width: 32px;
}

.obj_col, .actual_col {
    width: 100px;
}

.sync_date {
    color: red;
    margin-left: 5px;
}

.help_icon {
    margin: auto;
}

.row_name_container {
    width: 90%;
    display: inline-block;
}

.help_container {
    width: 10%;
    display: inline-block;
}

.controls {
    /* to compensate tablecell padding */
    margin-left: -10px;
}