/*TODO: What about media queries? (expand description more than 700px)*/

.data_container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto 1em;
}

.data_container_comment {
    display: grid;
    grid-template-areas:
        "name value comment comment_value";
    grid-template-columns: 200px 300px 100px auto;
    grid-template-rows: auto 1em;
}

.url_container {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: auto 1em;
}

.comment_row_label {
    grid-area: name;
}

.comment_row_value {
    grid-area: value;
    word-wrap: break-word;
}

.comment_row_comment {
    grid-area: comment;
    margin-left: 10px;
}

.comment_row_comment_value {
    grid-area: comment_value;
    word-wrap: break-word;
}

.help_icon {
    margin-left: 3px;
}

.ecma_backlog_row {
    display: grid;
    grid-template-areas:
        "milestone milestone_value value_label value";
    grid-template-columns: 75px 75px 57px 75px;
    grid-auto-rows: auto;
    row-gap: 1em;
}

.value_label {
    margin-left: 7px;
}

.prj_margin {
    margin-bottom: 1em;
}