/*TODO: What about media queries? (expand description more than 700px)*/
.data_container {
    display: grid;
    grid-template-columns: 200px 700px;
    grid-template-rows: auto 1em;
}

.data_container_comment {
    display: grid;
    grid-template-areas:
        "name value comment comment_value";
    grid-template-columns: 200px 300px 100px 300px;
    grid-template-rows: auto 1em;
}

.url_container {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: auto 1em;
}

.comment_row_label {
    grid-area: name;
}

.comment_row_value {
    grid-area: value;
    word-wrap: break-word;
}

.comment_row_comment {
    grid-area: comment;
    margin-left: 10px;
}

.comment_row_comment_value {
    grid-area: comment_value;
    word-wrap: break-word;
}

.help_icon {
    margin-left: -7px;
}

.ecma_backlog_row {
    display: grid;
    grid-template-areas:
        "label milestone milestone_value value_label value"
        "label milestone_two milestone_value_two value_label_two value_two";
    grid-template-columns: 200px 75px 75px 57px 75px;
    grid-template-rows: auto 2em;
    row-gap: 1em;
}

.ecma_label {
    grid-area: label;
}

.milestone_1 {
    grid-area: milestone;
}

.milestone_value_1 {
    grid-area: milestone_value;
}

.value_label_1 {
    grid-area: value_label;
}

.value_1 {
    grid-area: value;
}

.milestone_2 {
    grid-area: milestone_two;
}

.milestone_value_2 {
    grid-area: milestone_value_two;
}

.value_label_2 {
    grid-area: value_label_two;
}

.value_2 {
    grid-area: value_two;
}

.value_label_1, .value_label_2 {
    margin-left: 7px;
}


