@import "constants";

html, body, #root {
    height: 100%;
    width: 100%;
    min-width: 970px;
    background-color: $main_background_color;
}

html {
    overflow-x: auto;
}

* {
    scrollbar-width: thin;
}