@import "../../constants";

.indicator {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

.text_container {
    vertical-align: middle;
}

.color_red {
    background-color: $red_color;
}

.color_yellow {
    background-color: $yellow_color;
}

.color_green {
    background-color: $green_color;
}

.color_blank {
    background-color: $grey_color;
}