.req_table {
    width: 100%;
    table-layout: fixed;
}

.column_align_center {
    text-align: center !important;
}

.title_col {
    width: 105px;
}

.value_col {
    width: 65px;
}

.table_header {
    text-align: right;
}