.data_fields {
    display: grid;
    grid-template-columns: 170px auto;
    grid-template-rows: auto 1em;
    grid-gap: 0;
}

.secondary_card {
    display: grid;
    grid-template-columns: 230px auto;
    grid-template-rows: auto 1em;
    grid-gap: 0;
}

.data_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
}

.pws_data_container {
    display: grid;
}

.right_part {
    display: flex;
    justify-items: center;
    align-items: center;
}