.kpi_table {
    width: 100%;
    table-layout: fixed;
}

.column_align_center {
    text-align: center !important;
}

.border_top {
    border-top: 1px solid lightgray;
}

.name_col {
    width: 130px;
}

.help_col {
    width: 32px;
}

.value_col {
    width: 131px;
}

