@import "../../constants";

.kpi_table {
    width: 100%;
    table-layout: fixed;
}

.header {
    text-align: center !important;
    border-top: 1px solid $grey_color;
}

.name_col {
    width: 200px;
}

.help {
    float: right;
}

.value_col {
    text-align: center !important;
    /*width: 131px;*/
}