@import "src/constants";

.health_minimal {
    margin-right: $default_margin;
    float: right;
    display: inline-block;
    margin-bottom: $default_margin;
}

.risk_block {
    padding-left: 10px;
}

.export_button {
    float: right;
    display: inline-block;
}

.project_info {
    display: inline-block;
    margin-bottom: $default_margin;
}

.inline_block {
    display: inline-block;
}

.float_right {
    float: right;
}

.red {
    color: $red_color;
}

.orange {
    color: $orange_color;
}

.green {
    color: $green_color;
}

.scope_definition {
    height: 250px;
    overflow-y: auto;
}

@media (max-width: 1140px) {
    .health_minimal {
        float: unset;
        display: block;
    }
}