@import "../../constants";

.actual,
.baseline,
.completion,
.timeline,
.minutes {
    text-align: center !important;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.label {
    width: 80px;
}

.actual {
    width: 115px;
}

.baseline {
    width: 115px;
}

.completion {
    width: 90px;
}

.timeline {
    width: 90px;
}

.minutes {

}

.align_center {
    text-align: center !important;
}

.error {
    color: $red_color;
}